{% extends "ComidaTara/padre.html" %} 

{% load static %}

{% block contenidoQueCambia %}
<h1>Ingreso de postres</h1>
<form action="{% url 'postre' %}" method="POST">{% csrf_token %}

    <table>
        {{formulario.as_table}}



    </table>
    <input type="submit" value="Enviar">

</form>
<h1>Busqueda de postres</h1>

<form action="{% url 'buscarPostre' %}" method="GET"> 
   
    <p><input type="text" name="nombre" id="nombre" placeholder="Buscar postre"></p>
    <p><input type="submit" value="Buscar"></p>
 </form>

 {% if respuesta %}
      <p>{{respuesta}}</p>

{% endif %}
{% endblock %}

{% block titulo %}
<h1>Bienvenidos a los postres de Tarascon</h1>
{% endblock %}